.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 380px;
    max-height: available;
    margin: 110px auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.button1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background: #c850c0;
    background: -webkit-linear-gradient(360deg, #36304a, #ebcd73);
    background: -o-linear-gradient(360deg, #36304a, #ebcd73);
    background: -moz-linear-gradient(360deg, #36304a, #ebcd73);
    background: linear-gradient(360deg, #36304a, #ebcd73);
}

.button2 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background: #c850c0;
    background: -webkit-linear-gradient(180deg, #36304a, #ab575b);
    background: -o-linear-gradient(180deg, #36304a, #ab575b);
    background: -moz-linear-gradient(180deg, #36304a, #ab575b);
    background: linear-gradient(180deg, #36304a, #ab575b);
}


button:hover, a:hover {
    opacity: 0.7;
}