ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #353147;
  position: fixed;
  top: 0;
  width: 100%;
}

li:first-child {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 12px 26px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #739c99;
}

.contentContainer{
  padding: 20px;
  margin-top: 40px;
}