.text-center {
  margin: 30px;
}

#car-paragraph {
  padding: 20px;
  margin-bottom: 30px;
}
#reservation-con{
  width: 1200px;
}

#ho {
  display: block;
}

#ho-kid {
  text-align: center;
}

.col-6.c6cas {
  padding: 5px;
}

#ccc1{
  width: 1400px;
  margin: auto;
}
#rentersC{
  width: 1200px;
  margin: auto;
}
#checkboxCrime{
  width: 40px;
  float: left;
}

.rating {
  width: 156px;
  margin: 0 0em;
  font-size: 30px;
  overflow:hidden;
}
.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}
.rating a,
.rating label {
  float:right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
  color: orange;
  cursor: pointer;
}
.rating2 {
  direction: rtl;
}
.rating2 a {
  float:none
}