.kopce{
    padding: 6px 25px;
}
.l1{
    display: inline-block;
    text-align: center!important;
    font-weight: bold;
    color: #3f5875;
    padding: 4px 25px;
}

.l1:hover{
    color: #425366;
    text-decoration: none;
    background-color: #d3d8de;
}

.fa.fa-user.profilce{
    font-size: 28px;
}
